<html>
<head><title>Form</title></head>
<body>
  <h1>Form Test</h1>

  <div id="person_form">
    <form action="/thanks" method="get">
      <p>
        <label for="first_name">First name</label>
        <input id="first_name" type="text" />
      </p>
      <p>
        <label for="last_name">Last name</label>
        <input id="last_name" type="text" />
      </p>
      <p>
        <label for="height">Height</label>
        <select id="height">
          <option value="1">Short</option>
          <option value="2" selected="selected">Average</option>
          <option value="3" >Tall</option>
        </select>
      </p>
      <p>
        <label for="weight">Weight</label>
        <select id="weight">
          <option value="1">Light</option>
          <option value="2">Medium</option>
          <option value="3">Heavy</option>
        </select>
      </p>
      <p>
        <label for="quotes">Quotes</label>
        <select id="quotes">
          <option value="1">Single 'quotes'</option>
          <option value="2">"Double" quotes</option>
          <option value="3">'Single' and "Double" quotes</option>
        </select>
      </p>
      <p>
        <label for="favorite_colors">Favorite Colors</label>
        <select id="favorite_colors" multiple="multiple">
          <option value="r">Red</option>
          <option value="g">Green</option>
          <option value="b">Blue</option>
        </select>
      </p>
      <p>
        <label for="like_cheese">I like cheese</label>
        <input id="like_cheese" type="checkbox" checked="checked"/>
      </p>
      <p>
        <label for="like_salami">I like salami</label>
        <input id="like_salami" type="checkbox" />
      </p>
      <p><input type="submit" value="Submit" /></p>
    </form>
  </div>

  <div id="other_form">
    <form action="/thanks" method="get">
      <p><input id="readonly" type="text" disabled="disabled" /></p>
      <p><input type="submit" value="Submit" disabled="disabled" /></p>
    </form>
  </div>

  <div id="checkbox_form">
    <form action="/thanks" method="get">
      <table>
        <tr>
          <th>Apple</th>
          <td>
            <label for="like_apple">Like</label>
            <input id="like_apple" type="checkbox" checked="checked"/>
          </td>
        </tr>
        <tr>
          <th>Banana</th>
          <td>
            <label for="like_banana">Like</label>
            <input id="like_banana" type="checkbox"/>
          </td>
        </tr>
      </table>
    </form>
  </div>

</body>
</html>


