<html>
<head><title>Homepage</title></head>
<body>
  <h1>Homepage</h1>

  <div id="greeting">
    <p>Hello world</p>
  </div>

  <ul>
    <li>First</li>
    <li>Second</li>
    <li>Third</li>
  </ul>

  <div id="links">
    <a href="/about">About Us</a>
  </div>

  <div id="fields">
    <form action="/thanks" method="get">
      <input type="text" name="message" />
      <input type="submit" value="Submit" />
    </form>
  </div>

  <div id="tables">
    <table id="table_a">
      <thead>
        <tr> <th>Name</th> <th>Phone</th> <th>Action</th> </tr>
      </thead>
      <tbody>
        <tr> <td>Eric</td> <td>555-4444</td> <td><a href="/edit1">Edit</a></td> </tr>
        <tr> <td>John</td> <td>666-5555</td> <td><a href="/edit2">Edit</a></td> </tr>
        <tr> <td>Terry</td> <td>777-6666</td> <td><a href="/edit3">Edit</a></td> </tr>
      </tbody>
    </table>

    <table id="table_b">
      <thead>
        <tr> <th>Name</th> <th>Phone</th> <th>Action</th> </tr>
      </thead>
      <tbody>
        <tr> <td>Graham "Quoted"</td> <td>555-4444</td> <td><a href="/edit1">Edit</a></td> </tr>
        <tr> <td>"Michael's" quo'ta'tions</td> <td>666-5555</td> <td><a href="/edit2">Edit</a></td> </tr>
        <tr> <td>Terry's "Big" thing</td> <td>777-6666</td> <td><a href="/edit3">Edit</a></td> </tr>
      </tbody>
    </table>
  </div>

  <div id="farewell">
    <p>Goodbye world</p>
  </div>

</body>
</html>

