<html>
<head><title>Form</title></head>
<body>
  <h1>Form Test</h1>

  <div id="fields">
    <form action="/thanks" method="get">
      <label for="first_name">First name</label> <input type="text" id="first_name" />
      <label for="last_name">Last name</label> <input type="text" id="last_name" />
      <input type="submit" value="Submit" />
    </form>
  </div>

</body>
</html>


