<html>
<head><title>Homepage</title></head>
<body>
  <h1>Homepage</h1>

  <p id="greeting">
    Hello world
  </p>

  <ul>
    <li>First</li>
    <li>Second</li>
    <li>Third</li>
  </ul>

  <p id="links">
    <a href="/about">About Us</a>
  </p>

  <p id="fields">
    <form action="/thanks" method="get">
      <input type="text" name="message" />
      <input type="submit" value="Submit" />
    </form>
  </p>

  <p id="farewell">
    Goodbye world
  </p>

</body>
</html>

