<html>
<head><title>Kelp test</title></head>
<body>
  <p id="greeting">
    Hello world
  </p>
  <ul>
    <li>First</li>
    <li>Second</li>
    <li>Third</li>
  </ul>
  <p id="farewell">
    Goodbye world
  </p>
</body>
</html>

